nav div.animation{
   left: 300px;
    background-color:  rgba(73,72,220,0.7);
}
div.mainarea{
    width: 450px;
    height: 400px;
    margin: 0px auto;
    position: relative;
    background-color: rgba(62,196,211,0.62);
    z-index: 0;
    transition: all 0.8s;
    opacity: 0.85;
    box-shadow: 2px 1px 2px #000;
}
div.leftlist{
    width: 50px;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(70,101,139,0.3);
}
div.emailbox{
    width: 50px;
    height: 200px;
    position: relative;
}
div.emailbox:hover{
   background-color: rgba(32,206,196,0.55);
}
div.emailbox.selected{
   background-color: rgba(39,247,237,0.55);
}
div.leftlist img.email{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 80px;
    left: 5px;
}
div.writebox{
     width: 50px;
    height: 200px;
    position: relative;

}
div.leftlist img.write{
    width: 33px;
    height: 33px;
    position: absolute;
    top: 84px;
    left: 8px;
}

div.writebox:hover{
   background-color: rgba(32,206,196,0.55);
}
div.writebox.selected{
    background-color: rgba(39,247,237,0.55);
}
div.rightlist{
    display: none;
    width: 150px;
    height: 400px;
    position: absolute;
    top: 0px;
    right: 0px;
}
div.midarea{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 0px;
    left: 50px;
    background-color: rgba(163,211,167,1);
    z-index: 2;
}
div.midarea div.writeareabox{
    width: 400px;
    height: 400px;
}
div.midarea div.emailareabox{
    width: 400px;
    height: 400px;
    background-image: url("../static/images/send_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;//邮件区域的定位是基于box的
}
div.emailareabox div.default{
    width: 400px;
    height: 45px;
    color: black;
    font-family: cursive;
    font-size: 15px;
    text-align: center;
}
div.midarea div.emailareabox div.emailarea{
    width: 400px;
    height: 400px;
    background-image: url("../static/images/user_emailarea_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}
div.emailarea>div.reply{
    width: 400px;
    height:45px;
    position: relative;
    color: black;
    font-family: cursive;
    background-color: #b7ffe9;
    opacity: 0.63;
}
div.emailarea div.reply img.emailicon{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 2px;
    left: 15px;
}
div.reply div.sendername{
    display: inline-block;
    width: 150px;
    height: 20px;
    font-size:14px;
    position:absolute;
    bottom: 0px;
    right: 100px;
    overflow: hidden;
}
div.reply div.time{
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;

    color: green;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
}
div.reply div.notread{
    position: absolute;
    top: 12px;
    left: 70px;
    width: 60px;
    height: 20px;
    line-height: 20px;
    border-radius: 6px;
    background-color: rgba(255,16,18,0.7);
    color: white;
    text-align: center;
}
div.reply div.isread{
    position: absolute;
    top: 12px;
    left: 70px;
    width: 60px;
    height: 20px;
    line-height: 20px;
    border-radius: 6px;
    background-color: rgba(47,111,99,0.56);
    color: white;
    text-align: center;
}
div.popwindow{
    width: 480px;
    height: 440px;
    position: absolute;
    top: 160px;
    left: 260px;
    z-index: 101;
    display: none;
    background-image: url("../static/images/readreplybackground.jpg");
    background-size: 100% 100%;
}
div.popwindow img.closeicon{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
    filter: brightness(6);
}
div.popwindow div.commenthead{
    width: 115px;
    height: 30px;
    position: absolute;
    top: 40px;
    left: 55px;
    border-radius: 7px;
    font-size: 15px;
    font-family: cursive;
    color: white;
}
div.popwindow div.commenttext{
    width: 250px;
    height: 80px;
    position: absolute;
    left: 115px;
    top: 70px;
    opacity: 0.5;
    box-shadow: 1px 1px 1px #d8ff8f;
    background-color: white;
    font-size: 15px;
    font-family: cursive;
    font-weight: bold;
}
div.popwindow div.replyhead{
     width: 160px;
    height: 25px;
    position: absolute;
    top: 200px;
    left: 55px;
    border-radius: 7px;
    font-size: 15px;
    font-family: cursive;
    color: white;
    overflow: hidden;
}
div.popwindow div.replytext{
    width: 300px;
    height: 110px;
    position: absolute;
    left: 90px;
    top: 230px;
    opacity: 0.5;
    box-shadow: 2px 2px 2px #d8ff8f;
    background-color: white;
    font-size: 15px;
    font-family: cursive;
    font-weight: bold;
}
div.popwindow button.confirm{
    position: absolute;
    width: 120px;
    height: 35px;
    left: 180px;
    bottom: 40px;
    background-color: #51bcff;
    color: white;
    font-size: 14px;
    font-family: fangsong;
}
div.popwindow button.confirm:hover{

    box-shadow: 0px 0px 3px white;
}

div.background_send{
    overflow: hidden;
    width: 400px;
    height: 400px;
    position: relative;
    background-image: url("../static/images/base_chat_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
div.text_head{
   width: 300px;
    text-align: center;
    margin: 50px auto 0px auto;
    font-family: fangsong;
    color: black;
    font-size: 18px;
    font-weight: bolder;
}
div.text_head span{
    display: inline-block;
    vertical-align: center;
    height: 30px;
    color: white;
}
select.suggest{
    height: 30px;
    display: inline-block;
    vertical-align: center;
}
div.background_send textarea{
    display: inline-block;
    resize: none;
    width: 250px;
    height: 50px;
    transition: all 0.8s;
    position: absolute;
   bottom: 100px;
    left: 75px;
    font-size: 17px;
    font-family: cursive;
}
div.background_send .codecount{
    position: absolute;
    bottom: 80px;
    right: 75px;
}
div.background_send div.submitbox button.submitbtn{

    font-family: fangsong;
    width: 100px;
    height: 40px;
    vertical-align: middle;
    border-radius: 4px;
    background-color: #1abc9c;
    color: #fff;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.15), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    font-size: 18px;
    outline: 0;
    border: 0;
    cursor: pointer;
    overflow: hidden;
    transition: background-color .25s;
}
div.background_send div.submitbox button.submitbtn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(circle, #ccc 10%, transparent 10.1%);
  transform: scale(10);
  opacity: 0;
  transition: all .6s;
}
div.background_send div.submitbox button.submitbtn:active::after {
  transform: scale(0);
  opacity: .5;
  transition: 0s;
}

div.background_send div.submitbox{
    position: absolute;
    width: 200px;
    height: 40px;
    bottom: 27px;
    left: 100px;
    overflow: hidden;
}
div.background_send div.submitbox button.submitbtn{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 196px;
    height: 36px;
}
.submitbox span:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    display: inline-block;
  }
  .submitbox span:nth-child(3){
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
 display: inline-block;
position: absolute;
  }
  .submitbox span:nth-child(4){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
 display: inline-block;
position: absolute;
  }
  .submitbox span:nth-child(5){
    bottom: 0;
    left: 0;
    width: 2px;
    height: 100%;
 display: inline-block;
      position: absolute;
  }
@keyframes animate1{
    0%{
        left: -100%;
    }
    100%{
        left: 100%;
    }
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    100%{
        top: 100%;
    }
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    100%{
        right: 100%;
    }
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    100%{
        bottom: 100%;
    }
}
div.rightlist div.admin{
    width: 150px;
    height: 40px;
    line-height: 40px;
    color: white;
    font-size: 17px;
    font-family: fangsong;
    text-align: center;
}
div.rightlist div.admin:hover{
    cursor: pointer;
}
div.rightlist div.chosedadmin{
    background-color: rgba(52,211,197,0.62);
}
div.rightlist div.default{
    color: white;
    font-family: cursive;
    text-align: center;
    width: 150px;
}