form{
    height: 600px;
    width: 300px;
    margin: 40px auto 0px auto;
}
form .logo{
    width: 300px;
    height: 60px;
}
form input{
    margin-left: 46px;
    width: 200px;
    height: 18px;
    border-bottom: 1px solid blue;
    margin-top: 20px;
}
form input.captcha{
    width: 130px;
    display: inline-block;
    vertical-align: bottom;
}
form button{
    border-radius: 6px;
}
form .send_captcha{

    background-color: rgba(159,91,255,0.1);
    font-size: 10px;
    width:70px;
    height: 30px;
    text-align: center;
    display: inline-block;
    color: #333333;
    margin-bottom: 0px;
}
form .submit{
    margin: 10px 0px 0px 90px;
    width: 116px;
    height: 37px;
    background-color:  #0350A0;
    color: white;
}
form .reminder{
    color:red;
    font-size: 10px;
    margin-left: 46px;
    display: none;
    margin-bottom: 5px;
}